## This file contains mappings and features that are used in
## Exhaust XS for Voron0. To assign this file to your config,
## you can add [include exs.cfg] in your base config (printer.cfg)
## file.

## This is made for BTT Manta M4P V2 by-default. You may need
## to change the pins before applying changes, if there are
## pinout differences between BTT Manta M4P and your 
## microcontroller unit board.

## Note: for BTT Manta M4P, we have to use the BL-Touch
## port as filament sensor.

[filament_switch_sensor presence]
switch_pin: ^!PC14 # Switch is connected normally-open.
pause_on_runout: False # this feature only checks for printing state but it covered busy states
runout_gcode:
    {% if (printer.print_stats.state == 'printing') and (printer.print_stats.filename is not none) %}
        PAUSE # [pause_resume] is required in printer.cfg
        RESPOND TYPE=echo MSG='Filament ran-out, please refill (or change) the filament.'
        M117 Filament runout
    {% endif %}
insert_gcode:
    {% if (printer.display_status.message == 'Filament runout') %}
        M117
    {% endif %}

[filament_switch_sensor tangle]
switch_pin: ^!PA1 # Switch is connected normally-closed, but still must have state inverted.
pause_on_runout: False
runout_gcode:
    {% if (printer.print_stats.state == 'printing') and (printer.print_stats.filename is not none) %}
        PAUSE # [pause_resume] is required in printer.cfg
        RESPOND TYPE=echo MSG='Filament tangle detected, please check the filament tangle and address it.'
        M117 Filament tangled
    {% endif %}
insert_gcode:
    {% if (printer.display_status.message == 'Filament tangled') %}
        M117
    {% endif %}

## Exhaust fan
## NOTE: This config might exist in your printer config file before
## EXS was installed. If the printer config file contains an exhaust
## fan section, you may comment this section.
[heater_fan exhaust_fan]
pin: PD4 # PD4 being FAN2 (A and B, or sometimes 3B) in BTT Manta M4P.
fan_speed: 1.0
max_power: 1.0
# shutdown_speed: 0.4
kick_start_time: 5.0
heater: heater_bed
heater_temp: 60
